*{
    box-sizing: border-box;
}
body {
    background-color:#eee;
    display: flex;
    justify-content: center;
    

}
.resort {
    width: 1200px;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
}
.halv0{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.headtext {
    display: flex;
    grid-column: 1/2;
}
.meny {
    grid-column: 2/3;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: end;
    
}
nav ul a{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: right;
    text-decoration: none;
    color: black;
}
.happy {
    grid-area: happy;
    background-image: url(img/happiest-dog.webp);
    height: 600px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
}
h1{
    padding-top: 450px;
    font-weight: 900px;
    font-size: 40px;
    margin-bottom: 5px;
}

.halv2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 300px 1fr;
    grid-template-areas: 
    "octgro octgro octgro part"
    "merch budd fine part"
    ;
    gap: 10px;
}
.octgro {
    background-color: white;
    grid-area: octgro;
    display: flex;
    object-fit: contain;
    object-fit: scale-down;
    /* hjälp med varför grooming bilden sticker ut ifrån divven */
} 
.merchllada {
    background-color: white;
    grid-area: merch;
    text-align: left;
    
}
.buddieslada{
    background-color: white;
    grid-area: budd;
    text-align: left;
    
}
.finelada{
    background-color: white;
    grid-area: fine;
    text-align: left;
    
}
.partners{
    background-color: white;
    grid-area: part;
    text-align: center;
    
   
}
div{
    padding: 10px;
    border-radius: 5px;
}
img {
    border-radius: 10px;
}
p h2 h1 h3{
    font-family: 'Courier New', Courier, monospace;
}
